@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,900;1,100;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --orange-color: #ED6637;
  --black-color: #080909;
  --white-color: #FFFEFE;
  --white-hover-color: #fffefe81;
  --light-blue-color: #019FE2;
  --green-color:#10A488;
}


/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--white-color);
  color: var(--black-color);
}


/*------------------ header ------------------*/
header {
  display: block;
  background: var(--white-color);
  height: 48px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  background-color: orange;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto 32px;
  height: 48px;
}
header nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  list-style-type: none;
}
header nav > ul li {
  margin: 0px 12px;
  height: 32px;
  transition: all 0.3s;
  border-radius: 8px;
  padding: 2px 4px;
}

header nav > ul li a {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  top: 28%;
  left: 0px;
  transition: all 0.3s;
  color: var(--black-color);
  text-decoration: none;
  color: #fff;
}
header nav > ul li a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  header nav > ul {
    display: none;
  }
}
header nav > button {
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid var(--white-color);
  cursor: pointer;
  height: 32px;
  font-size: 24px;
  color: var(--white-color);
  display: grid;
  place-content: center;
  padding: 2px 4px 0px 4px;
  transition: all 0.3s;
  color: #fff;
}
header nav > button:hover {
  background-color: var(--white-hover-color);
  color: var(--white-color);
  color: #fff;
}
header nav #offcanvas {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: orange;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}
header nav #offcanvas ul {
  list-style: none;
  padding: 20px;
}
header nav #offcanvas ul li {
  margin-bottom: 15px;
  font-size: 18px;
}
header nav #offcanvas ul li:first-child {
  position: relative;
  top: -15px;
}
header nav #offcanvas ul li:first-child button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-top: 32px;
  color: var(--white-color);
}
header nav #offcanvas ul li a {
  color: var(--white-color);
  text-decoration: none;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
header nav #offcanvas ul li a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 1025px) {
  header {
    height: 64px;
  }
  header nav {
    height: 64px;
  }
  header nav > button {
    margin-right: 42px;
    height: 42px;
    width: 42px;
    font-size: 32px;
  }
  header nav > ul {
    margin-left: 42px;
  }
  header nav > ul li {
    height: 48px;
  }
  header nav > ul li a {
    top: 32%;
  }
}

/* ------------------ header ------------------ */

/* ------------------ main ------------------ */
main{
  margin-top: 64px;
}
/* ------------------ main ------------------ */



/* Estilo de la jumbotron */
.display-3 {
  color: white;
  font-family: fantasy;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.1px #97918f  
}

.jumbotron {
  background-color: #29B495;
  text-align: center;
  padding: 60px 0;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.jumbotron h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
}

.jumbotron p {
  font-size: 18px;
  margin-top: 20px;
}

/* Estilo de los botones */
.btn-secondary {
  background-color: #ED6637;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
  align-items: center;
}

a.btn.btn-secondary {
  text-decoration: none;
}

.btn-secondary:hover {
  background-color: #ad6603;
}

/* Estilo de las columnas */
.col-md-4 {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s;
  cursor: pointer;
  min-height: 320px;
}

.col-md-4:hover {
  transform: scale(1.1); 
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 20px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  align-items: center;
}

.row p {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

/* Alineación de botones del encabezado */
.jumbotron .btn {
  margin-top: 20px;
  text-decoration: none;
}

/* Estilo del pie de página */
footer {
  background-color: #ED6637;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
}

/*  para más responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: left;
  }
  .nav-link {
    margin: 10px 0;
  }
}
